html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
div pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
figure,
header,
nav,
section,
article,
aside,
footer,
figcaption {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    list-style: none;
}

body{
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  background-color: #212629 !important;
  position: relative;
}

.fs-15{
  font-size: 12px;
}

.top-bar{
  width: 100%;
  height: 40px;
  background-color: #212629;
}

.top-bar_social {
  display: flex;
  align-items: center;
  justify-content: end;
}

.top-bar_social ul li,  
.nav-menu ul li{
  display: inline;
  margin-left: 10px;
  color: #fff;
}

.top-bar_social ul li a,  
.nav-menu ul li a{
  color: #fff;
}

.top-bar_social ul li a:hover,  
.nav-menu ul li a:hover{
  color: #A12A2E;
  text-decoration: none;
}

.web-logo:hover{
  text-decoration: none;
}

.nav-bar{
  width: 100%;
  position: absolute;
  background: rgba(10, 9, 9, .5);
  backdrop-filter: blur(1.5px);
  -webkit-backdrop-filter: blur(1.5px);
  z-index: 4;
}

.nav-menu{
  height: 60px;
  font-size: 13px;
  font-weight: 700;
}

.swiper {
  width: 100%;
  height: 600px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-list{
  height: 300px;
}

.cate-card{
  width: 100%;
  height: 220px;
  background-color: brown;
  border-radius: 20px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.card-icon{
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  font-size: 30px;
  padding: 10px;
  border-radius: 100%;
  color: #CA6135;
  border: 2px solid #CA6135;
}

.cate-card h5{
  font-weight: bold;
  color: #fff;
}

.cate-card p{
  text-align: center;
  color: #D19999;
}

.card-list{
  position: absolute;
  width: 100%;
  top: 500px;
  z-index: 2;
}

.meetings-section{
  background-image: url('../images/wallpaperflare.com_wallpaper.jpg');
  padding-top: 200px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding-bottom: 120px;
}

.meetings-section h5{
  text-align: center;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 45px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  margin-bottom: 40px;
  padding-bottom: 10px;
}

.categories{
  background: #fff;
  border-radius: 20px;
  padding: 30px;
  margin-right: 45px;
}

.categories h5{
  color: #635E58;
  border-bottom: 1px solid #eee;
  font-weight: 600px;
  margin-bottom: 20px;
  padding-bottom: 5px;
  font-size: 17px;
  text-align: left;
}

.categories li{
  display: inline-block;
  margin-bottom: 10px;
  font-weight: bold;
  color: rgba(31, 30, 30, .5);
}

.categories .category-btn a{
  width: 100%;
  background-color: #A12A2E;
  color: white;
  margin-top: 10px;
  padding-bottom: 10px;
  font-size: 13px;
}

.categories .category-btn a:hover{
  background-color: #ca292f;
}

.meeting-card{
  width: 100%;
  height: 330px;
  margin-bottom: 30px;
}

.meeting-card .image-holder{
  width: 100%;
  height: 180px;
}

.meeting-card .image-holder img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.meeting-card .text-holder{
  display: flex;
  padding: 20px;
  gap: 20px;
  background-color: #fff;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.meeting-card .text-holder p.month,
.meeting-card .text-holder p.title{
  font-size: 15px;
  color: #A12A2E;
}

.meeting-card .text-holder p.title{
  color: #010101;
  font-weight: 700;
}

.meeting-card .text-holder p.date{
  font-weight: 700;
  line-height: 2px;
  font-size: 25px;
}

.meeting-card .text-holder p.note{
  color: #635E58;
  font-size: 13px;
}

.degree-section{
  width: 100%;
  height: 800px;
  background-image: url('../images/degree-bg.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.bg-shade{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.degree-card{
  color: #fff;
  background-color: rgba(250, 250, 250, 0.15);
}

.degree-card span{
  color: #ecebeb !important;  
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 1px;
}

.degree-card button{
  padding: 10px 20px;
  font-size: 13px;
  font-weight: bold;
}

.question-list-wrap{
  width: 100%;
  height: max-content;
  padding-block: 10px;
  background-color: #fff;
  border-radius: 10px;
}

.question-wrap{
  padding: 10px 20px;
  font-size: 20px;
  font-weight: bold;
}

.question-wrap.active .drop-wrap{
  display: block;
}

.drop{
  cursor: pointer;
}

.question-wrap.active ul li .title{
  color: #E1AC0B;
}

.question-wrap.active ul li .drop i{
  color: #E1AC0B;
}

.drop-wrap{
  display: none;
  font-size: 15px !important;
  font-weight: normal;
  padding: 20px;
}

.popular-courses{
  width: 100%;
  height: max-content;
  background-image: url("../images/wallpaperflare.com_wallpaper.jpg");
  background-attachment: fixed;
}

.rate{
  color: rgb(223, 89, 11);
  display: flex;
  gap: 5px;
}

.price{
  color: red;
}

.course-side-show {
  width: 100%;
  gap: 10px;
  overflow-x: scroll;
}

.facts-section{
  width: 100%;
  height: max-content;
  background-image: url('../images/courses.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.bg-opacity{
  width: 100%;
  height: 100%;
  padding-block: 100px;
  background-color: rgba(24, 21, 21, .5);
}

.rate-card{
  width: 100%;
  padding: 20px;
  border-radius: 20px;
  text-align: center;
  background-color: rgba(53, 51, 51, .7);
}

.fact-video {
    text-align: center;
    margin-left: 70px;
    background-image: url('../images/video-item-bg.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    border-radius: 20px;
}

.fact-video img {
    padding: 170px 0px;
    max-width: 60px;
}

.form-section{
  width: 100%;
  height: max-content;
  padding-block: 100px;
  background-image: url('../images/wallpaperflare.com_wallpaper.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.form-wrap{
  width: 100%;
  background-color: #fff;
  border-radius: 15px;
  padding: 20px;
}

.form-title{
  text-transform: uppercase;
  font-weight: bold;
}

.form-wrap input{
  border: none;
  font-size: 13px;
  outline: none;
}

.form-wrap textarea{
  width: 100%;
  resize: none;
  border: none;
  font-size: 13px;
  outline: none;
  margin-top: 20px;
}

.form-wrap button{
  padding: 10px 20px;
  font-size: 13px;
  font-weight: bold;
}

.footer-section{
  background-image: url('../images/wallpaperflare.com_wallpaper.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  border-top: 1px dotted #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-block: 30px;
  text-align: center;
  color: #fff;
}